.customCard{
  background-color: rgba(107, 100, 59, 0.31);
  color: #0034ff;
  font-size: 25px;
  font-style: italic;
  font-family: "Comic Sans MS";
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
/*.customLogin{*/

  /*transition: 20s ease;*/
/*}*/
/*.customLogin:hover{*/
  /*background-color: #ff5f25;*/
  /*color: black;*/
  /*-webkit-animation-name: example10; !* Safari 4.0 - 8.0 *!*/
  /*-webkit-animation-duration: 10s; !* Safari 4.0 - 8.0 *!*/
  /*animation-name: example10;*/
  /*animation-duration: 10s;*/
/*}*/
/*@-webkit-keyframes example10 {*/
  /*0%   {background-color: #6b431e;}*/
  /*10%   {background-color: #536b21;}*/
  /*20%   {background-color: #246b33;}*/
  /*30%   {background-color: #1f6b5a;}*/
  /*40%   {background-color: #24606b;}*/
  /*50%   {background-color: #353b6b;}*/
  /*60%   {background-color: #593e6b;}*/
  /*70%  {background-color: #6b3d3f;}*/
  /*80%  {background-color: #6b612e;}*/
  /*90% {background-color: #656b57;}*/
  /*100% {background-color: #6a096b;}*/
/*}*/
/*!* Standard syntax *!*/
/*@keyframes example10 {*/
  /*0%   {background-color: #6b431e;}*/
  /*10%   {background-color: #536b21;}*/
  /*20%   {background-color: #246b33;}*/
  /*30%   {background-color: #1f6b5a;}*/
  /*40%   {background-color: #24606b;}*/
  /*50%   {background-color: #353b6b;}*/
  /*60%   {background-color: #593e6b;}*/
  /*70%  {background-color: #6b3d3f;}*/
  /*80%  {background-color: #6b612e;}*/
  /*90% {background-color: #656b57;}*/
  /*100% {background-color: #6a096b;}*/
/*}*/
.customBtn{
  color: rgb(0, 52, 255);
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
  font-style: italic;
  font-family: "Comic Sans MS";
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.customBtn:hover{
  background-color: rgba(0, 0, 0, 0.19);
}
.box{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.customBtns{
  background-color: red;
  text-decoration-line: line-through;
}
.customBtns:hover{
  background-color: red;
}
