.customCard{
  background-color: #a08b4b;
}
.customLi{
  background-color: #ffc765;
}
.customBal{
  font-size: 30px;
  transition: 2s ease;
}
.customBal:hover{
  font-size: 50px;
  transition: 4s ease;
}
 .one{
  transition: 2s ease;
 }
.one:hover{
  font-size: 25px;
  transition: 4s ease;
}
.two{
  transition: 2s ease;
}
.two:hover{
  font-size: 25px;
  transition: 4s ease;
}
