.one{
  transition: 2s ease;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.one:hover{
  font-size: 25px;
  transition: 4s ease;
}
.customHeader{
  background-color: #6b3d3f;
  color: white;
  font-size: 25px;
}
.customHeader:hover{
  color: #ff5f25;
  -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: example1;
  animation-duration: 10s;
}
@-webkit-keyframes example1 {
  0%   {background-color: #6a096b;}
  10%   {background-color: #656b57;}
  20%   {background-color: #6b612e;}
  30%   {background-color: #6b3d3f;}
  40%   {background-color: #593e6b;}
  50%   {background-color: #353b6b;}
  60%   {background-color: #24606b;}
  70%    {background-color: #1f6b5a;}
  80%    {background-color: #246b33;}
  90%    {background-color: #536b21;}
  100%  {background-color: #6b431e;}
}
/* Standard syntax */
@keyframes example1 {
  0%   {background-color: #6a096b;}
  10%   {background-color: #656b57;}
  20%   {background-color: #6b612e;}
  30%   {background-color: #6b3d3f;}
  40%   {background-color: #593e6b;}
  50%   {background-color: #353b6b;}
  60%   {background-color: #24606b;}
  70%    {background-color: #1f6b5a;}
  80%    {background-color: #246b33;}
  90%    {background-color: #536b21;}
  100%  {background-color: #6b431e;}
}
.customBody{
  background-color: #069bc7;
  color: black;
}
.customBody:hover{
  color: #ffffff;
  -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: example2;
  animation-duration: 10s;
}
@-webkit-keyframes example2 {
  0%   {background-color: #6a096b;}
  10%   {background-color: #656b57;}
  20%   {background-color: #6b612e;}
  30%   {background-color: #6b3d3f;}
  40%   {background-color: #593e6b;}
  50%   {background-color: #353b6b;}
  60%   {background-color: #24606b;}
  70%    {background-color: #1f6b5a;}
  80%    {background-color: #246b33;}
  90%    {background-color: #536b21;}
  100%  {background-color: #6b431e;}
}
/* Standard syntax */
@keyframes example2 {
  0%   {background-color: #6a096b;}
  10%   {background-color: #656b57;}
  20%   {background-color: #6b612e;}
  30%   {background-color: #6b3d3f;}
  40%   {background-color: #593e6b;}
  50%   {background-color: #353b6b;}
  60%   {background-color: #24606b;}
  70%    {background-color: #1f6b5a;}
  80%    {background-color: #246b33;}
  90%    {background-color: #536b21;}
  100%  {background-color: #6b431e;}
}
